celery
Django
django-axes[ipware]
django-allow-cidr
django-oauth-toolkit
django-otp
django-phonenumber-field
djangorestframework
django-waffle
fcm-django>=2.2
gunicorn
phonenumberslite
psycopg2
redis
sentry-sdk[django]
twilio
zxcvbn
django-environ
google-auth
google-api-python-client
boto3
geopy
whitenoise
